/* login && verify  */
.auth_page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dbdbdb;
  background-color: #f0f2f5;
  box-shadow: 0 0 4px #ddd;
}

.auth_page form {
  background: #fff;
  max-width: 430px;
  width: 100%;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), -1px -1px 8px rgba(0, 0, 0, 0.1);
  padding: 22px;
  border-radius: 22px;
}

.auth_page form .pass {
  position: relative;
}

.auth_page form .pass small {
  position: absolute;
  top: 50%;
  right: 11px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
}

