.header {
  display: flex;
  z-index: 2;
  padding: 10px;
  background: #aae7e7;
  border: 1px solid #dbdbdb;
  align-items: center;
  justify-content:center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), -1px -1px 10px rgba(0, 0, 0, 0.1);
}

.header h1{
font-size: 25px;  
margin: 0 30px;

}



.statusBtn{
  background: rgb(0, 172, 166);
 
  border: none;
  outline: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  margin: 0 2px;

}
.statusBtn:hover{
  background: rgb(5, 139, 135);
  color: #ffffff;
}


.btn_edit{
  padding: 5px 25px;
  background: rgb(0, 172, 172);;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  margin-left: 10px;

}
.btn_edit:hover{
  background: rgb(5, 139, 135);

}

.btn_delete{
  padding: 5px 25px;
  background: crimson;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}
.btn_delete:hover{
  background: rgb(170, 15, 46);
}

